[Desktop Entry]
Type=Application
Name=mclock
Exec=/usr/bin/chromium-browser --kiosk --app=/home/pi/p/alarmclock/src/index.html
X-GNOME-Autostart-enabled=true
