[Desktop Entry]
Type=Application
Name=mclock
Exec=/usr/bin/chromium-browser --incognito --start-fullscreen /home/pi/p/alarmclock/src/index.html
X-GNOME-Autostart-enabled=true
