[Desktop Entry]
Type=Application
Name=mclock
Exec=/usr/bin/chromium-browser --start-fullscreen /home/pi/p/alarmclock/src/index.html
Exec=/usr/bin/python /home/pi/p/alarmclock/src/pyserv.py
X-GNOME-Autostart-enabled=true
