@import "nib"
    
#root h1
    display none
#root form
    display none

debug-box(color = red)
    border 1px solid color

$flex-center
    display flex
    align-items center
    justify-content center

*
    box-sizing border-box
    transition all .1s linear

// Begin fix for Android "background-size: contain" bug
html
body
    height 100%

html
    overflow-y hidden

body
    overflow-y auto

// End fix

body
    height 100%,
    width 100%,
    linear-gradient(top, darken(blue, 75%), darken(white, 85%))
    // background-color #2e5090
    background-repeat no-repeat
    background-attachment fixed
    background-position center
    background-size contain
    font-size 20px

.viewport
    @extend $flex-center
    flex-direction column
    height 100%
    
    .clock
        @extend $flex-center
        flex-direction row
        width 100%
        max-width 1200px
        height 60%
        margin-top 60px

    .buttons
        @extend $flex-center
        flex-direction column
        align-items stretch
        justify-content normal
        width 80%
        height 50%
        margin-top 20px
        flex-shrink 2
        
        .row
            @extend $flex-center
            align-items stretch
            justify-content space-around
            height 50%
            width 100%
            
            button
                width 100%
                height 100%
                margin 10px
                background-color darken(white, 20%)
                opacity .5
                border-radius 15px
                outline 0
                border 0
                padding 0
                font-size 35px
                text-align center
                
                span
                    padding 0
                    margin 0
                    text-align center
                
            button:hover
                opacity .7
                
            button:active
            button.toggled
                opacity .8
                background-color darken(white, 10%)
                
            button:disabled
                opacity .4
                background-color darken(white, 40%)

    .digits
        @extend $flex-center
        flex-direction row
        align-items stretch
        justify-content space-around
        width 100%
        height 80%
        flex-grow 2
        font-family 'Courier'
        
        .hours
        .minutes
        .am-pm
            @extend $flex-center
            flex-direction row
            align-items stretch
            justify-content center
            width 100%
            height 100%
            margin 0 10px
            position relative
            
            .slot
                @extend $flex-center
                flex-direction column
                align-items center
                justify-content space-around
                position relative
                background-image linear-gradient(top, rgba(white, 0), darken(alpha(white, 95%), 30%), rgba(white, 0))
                background-color transparent
                width 100%
                margin 0 5px
                font-size 200px
                overflow hidden
                
                .strip
                    position absolute
                    width 100%
                    text-align center
                    margin-top 20px
                    left: 0
                    transition all 0s linear
                    
                    > div
                        height 200%

            .arrow.up
                position absolute
                top 0
                width 100%
                text-align center
                font-size 45px
                color white
                z-index 5
                opacity .6
                background-color transparent
                outline 0
                border 0
                transition all .5s linear

            .arrow.up:hover
                opacity .7
                
            .arrow.up:active
                opacity .8

            .arrow.down
                position absolute
                bottom -7px
                width 100%
                text-align center
                font-size 45px
                color white
                z-index 5
                opacity .6
                background-color transparent
                outline 0
                border 0
                transition all .5s linear

            .arrow.down:hover
                opacity .7

            .arrow.down:active
                opacity .8
                    
.hidden
    //visibility hidden !important
    opacity 0 !important

for strip-pos in (0..9)
    .strip.pos-{strip-pos}
        top -(231px * (strip-pos))

#instructions
    width 100%
    text-align center
    padding 1px
    margin 1px
    color darken(white, 30%)
    opacity .7
    font-size 15px

.intro
    background-color rgba(150, 150, 150, .4)
    color darken(white, 30%)
    width 100%
    max-width 800px
    border-radius 15px
    padding 15px
    margin-bottom 60px
    text-align center
    font-size 18px
    
    .title
        font-weight bold
        font-size 24px
    
    .support
    .supported
        display none
        
    .support.not-supported
        display static
        opacity 1

#copyright
  margin-top 25px
  background-color transparent
  font-size 16px
  color darken(white, 30%)
  text-align center
  
  div
    margin-bottom 10px
  
  a
  a:link
    color gray
    text-decoration none
    border-bottom 1px solid gray
    padding-bottom 2px

  a:active
    color darken(white, 30%)
  
  a:hover
    color darken(white, 30%)
    border-bottom 1px solid darken(white, 30%)
    padding-bottom 4px


input[type=checkbox]
  /* Double-sized Checkboxes */
  ms-transform scale(2); /* IE */
  moz-transform scale(2); /* FF */
  webkit-transform scale(2); /* Safari and Chrome */
  o-transform scale(2); /* Opera */
  transform scale(2);
  padding 10px;
